[paths]
source =
   src/shellman
   */site-packages/shellman

[run]
branch = true
source =
    shellman
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    tests/*
