graft src

prune bin
prune docs
prune requirements
prune scripts
prune tests

exclude * .*

include setup.py
include setup.cfg
include MANIFEST.in
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md

global-exclude *.py[cod] __pycache__ *.so *.dylib
